<!-- Page Header-->
{% for object in Last_slider %}
<header class="masthead" style="background-image: url({{object.images.url}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading" id="Baner_Color">
                    <a class="baner_text_color" href="{% url 'Article:Article_detail' object.slug %}">
                        <h2>{{object.title}}</h1>
                        <span class="subheading">{{object.description}}</span>
                    </a>
                    <time>{{object.Jpublish}}</time>
                </div>
            </div>
        </div>
    </div>
</header>
{% endfor %}