
{% for object in Article %}
<!-- Post preview-->
<div class="post-preview">
    <a href="{% url 'Article:Article_detail' object.slug %}">
        <h2 class="post-title">{{object.title}}</h2>
        <h3 class="post-subtitle">{{object.description}}</h3>
    </a>
    <p class="post-meta">
        {% comment %} Posted by {% endcomment %}
        {% comment %} <a href="#!">Start Bootstrap</a> {% endcomment %}
        {{object.Jpublish}}
        <br>
        {% for cat in object.catagory_published.all %}
            # {{cat.title}}
        {% endfor %}
    </p>
</div>
<!-- Divider-->
<hr class="my-4" />
{% endfor %}