{% extends 'shared/_MainLayout.html' %}

{% block title %}
    {{object.title}}
{% endblock title %}

{% block Header %}
    {% include 'Articles/Slider.html' %}
{% endblock Header %}

{% block content %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2 class="section-heading">{{object.title}}</h2>
                    <blockquote class="blockquote">{{object.description | linebreaksbr}}</blockquote>
                    <p>
                        Placeholder text by
                    </p>
                </div>
            </div>
        </div>
    </article>
{% endblock content %}