{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block title %}خانه{% endblock title %}

{% block Header %}
    {% include 'Articles/Home_Baner.html' %}
{% endblock Header %}

{% block content %}
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% include 'Articles/Articles_components.html' %}
                <!-- Pager-->
                {% if Article.has_next %}
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" href="{% url 'Article:home_page' %}?page={{Article.next_page_number}}">پست های جدید تر</a>
                </div>
                {% endif %}
                {% if Article.has_previous %}
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" href="{% url 'Article:home_page' %}?page={{Article.previous_page_number}}">پست های قدیمی تر</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
    