<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Sohaili Blog - {% block title %}{% endblock title %}</title>

        {% include 'shared/_HeaderRefrences.html' %}
        
    </head>
    <body style="direction: rtl; text-align: right;">

        {% comment %} {% include 'shared/Header.html' %} {% endcomment %}

        
        {% block Header %}{% endblock Header %}
            
        
        {% block content %}{% endblock content %}
            
        {% include 'shared/Footer.html' %}

        {% include 'shared/_FooterRefrences.html' %}

    </body>
</html>
